

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <link href="../../public/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <p>Welcome to CodeIgniter with Twig! This is a simple example page.</p>
        <a href="https://codeigniter.com" class="button">Learn More</a>
    </div>
</body>
</html>
